{% extends 'base.html' %}
{% block content %}

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Professional Insights</h1>
        <DashboardTable>
            <DashboardRow>
              <DashboardColumn>
                    <h4><div class="chartTitle"  id="label-profession"></div></h4>
                  <div id="bar-chart-profession" class="col-sm-6"></div>
              </DashboardColumn>
              <DashboardColumn>
                  <h4><div class="chartTitle" id="label-profession-target"></div></h4>
                  <div id="bar-chart-profession-target" class="col-sm-6"></div>
            </DashboardColumn>
          </DashboardRow>      
        <DashboardRow>
            <DashboardColumn>
                <h4><div class="chartTitle" id="label-specialtyGroup"></div></h4>
                <div id="bar-chart-specialtyGroup" class="col-sm-6"></div>
            </DashboardColumn>
            <DashboardColumn>
                <h4><div class="chartTitle" id="label-specialtyGroup-target"></div></h4>
              <div id="bar-chart-specialtyGroup-target" class="col-sm-6"></div>
              </DashboardColumn>
          </DashboardRow>
        </DashboardTable>
<script>

var exposureGroup;
var exposureDim;
var professionDim;

d3.csv("{{ url_for('static', filename='data/Audience_Dataset.csv')}}").then(function(data) {    
    //if (error) throw error;
    data.forEach(function(d) {
    d["Exposed"] = +d["Exposed"];
    d["Not exposed"] = +d["Not exposed"];
    d["Targetable"]=+d["Targetable"];
  });

    ndx=crossfilter(data);


    professionDim               =   ndx.dimension(function(d){return d["MDG PROFESSION"]});
    professionGroup             =   professionDim.group();
    ProfessionTargettableGroup  =   professionDim.group();

    //exposureDim                 =   ndx.dimension(function(d){return d["Exposed"]==""?"exposed":"not-exposed"});
    //exposureGroup               =   exposureDim.group();

    specialtyGrpDim                 =   ndx.dimension(function(d){return d["MDG SPECIALTY GROUP"]});
    specialtyGrpGroup               =   specialtyGrpDim.group();
    specialtyGrpTargettableGroup    =   specialtyGrpDim.group();

    //var nonEmptyProfession=removeEmptyBins(professionGroup);
    //console.log(nonEmptyProfession);

    var reducer = reductio();
    reducer.exception(function(d){return d.MDG_PSID;}).exceptionCount(true);
    reducer.value("Exposed").exception(function(d) { return d.MDG_PSID; }).exceptionSum(function(d) { return d["Exposed"]; });
    reducer.value("NotExposed").exception(function(d) { return d.MDG_PSID; }).exceptionSum(function(d) { return d["Not exposed"]; });

    reducer(professionGroup);
    reducer(specialtyGrpGroup);
    

    var reducerTargettable = reductio();
    reducerTargettable.exception(function(d){return d.MDG_PSID;}).exceptionCount(function(d){if(d.Targetable==1) return d.MDG_PSID;});
    reducerTargettable.value("Exposed").exception(function(d) { return d.MDG_PSID; }).exceptionSum(function(d) { return d.Targetable === 1 ? d["Exposed"]:0; });
    reducerTargettable.value("NotExposed").exception(function(d) { return d.MDG_PSID; }).exceptionSum(function(d) { return d.Targetable === 1 ? d["Not exposed"]:0; });

    reducerTargettable(ProfessionTargettableGroup);
    reducerTargettable(specialtyGrpTargettableGroup);

function getTops(source_group,count) {
    return{
        all:function()
        {
            if (count==0)//Send all groups
            {
                return source_group.all();
            }
            else
            {
                return source_group.top(count);
            }
        }
    };
}


var ProfessionBarChart  = dc.barChart("#bar-chart-profession","reductio");
var TopProfession = getTops(professionGroup,3);
ProfessionBarChart
    .margins({top: 50, right: 20, left: 50, bottom: 50})
    .width(500)
    .height(400)
    .gap(50)
    .x(d3.scaleBand())
    .xUnits(dc.units.ordinal)
    .brushOn(false)
    .xAxisLabel('Profession')
    .yAxisLabel('Number of Audience')
    .dimension(professionDim)
    .barPadding(0.1)
    .outerPadding(0.05)
    .group(TopProfession,"Exposed")
    .valueAccessor(function(p)
    {
        return p.value.Exposed.exceptionSum;
    })
    .title(function(d) 
    {
        return d.key + '[' + this.layer + ']: ' + d.value[this.layer].exceptionSum;
    })
    .stack(TopProfession, "NotExposed", function (p) 
    {
        return p.value.NotExposed.exceptionSum;
    })
    .legend(dc.legend().x(100).y(0).itemHeight(13).gap(5))
    .on("pretransition",function(ProfessionBarChart)
                        {
                            ProfessionBarChart.selectAll("g.stack rect.bar").style("fill", function(d){
                            if(d.layer=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            ProfessionBarChart.selectAll("g.dc-legend-item rect").style("fill", function(d){
                            if(d.name=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            $("#label-profession").text("Input Audience Profession Exposure (Top 3)");
                            
                        });     


ProfessionBarChart.yAxis().ticks(5).tickSize(10);

var SpecialtyGroupBarChart  = dc.barChart("#bar-chart-specialtyGroup","reductio");
var TopSpecialtyGroup = getTops(specialtyGrpGroup,5);

SpecialtyGroupBarChart
    .margins({top: 50, right: 20, left: 50, bottom: 50})
    .width(500)
    .height(400)
    .gap(50)
    .x(d3.scaleBand())
    .xUnits(dc.units.ordinal)
    .brushOn(false)
    .xAxisLabel('Specialty Group')
    .yAxisLabel('Number of Audience')
    .dimension(specialtyGrpDim)
    .barPadding(0.1)
    .outerPadding(0.05)
    .group(TopSpecialtyGroup,"Exposed")
    .valueAccessor(function(p)
    {
        return p.value.Exposed.exceptionSum;
    })
    .title(function(d) 
    {
        return d.key + '[' + this.layer + ']: ' + d.value[this.layer].exceptionSum;
    })
    .stack(TopSpecialtyGroup, "NotExposed", function (p) 
    {
        return p.value.NotExposed.exceptionSum;
    })
    .legend(dc.legend().x(100).y(0).itemHeight(13).gap(5))
    .on("pretransition",function(SpecialtyGroupBarChart)
                        {
                            SpecialtyGroupBarChart.selectAll("g.stack rect.bar").style("fill", function(d){
                            if(d.layer=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            SpecialtyGroupBarChart.selectAll("g.dc-legend-item rect").style("fill", function(d){
                            if(d.name=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            SpecialtyGroupBarChart.select('path').style({ 'stroke': 'black', 'fill': 'none', 'stroke-width': '1px'}); 
                            $("#label-specialtyGroup").text("Input Audience Physician Specialty Group Exposure (Top 5)");
                        });     




var TargettableProfessionGroupBarChart  = dc.barChart("#bar-chart-profession-target","reductio");
console.log(ProfessionTargettableGroup.all());
var TopProfessionTargettableGroup = getTops(ProfessionTargettableGroup,3);

TargettableProfessionGroupBarChart
    .margins({top: 50, right: 20, left: 50, bottom: 50})
    .width(500)
    .height(400)
    .gap(50)
    .x(d3.scaleBand())
    .xUnits(dc.units.ordinal)
    .brushOn(false)
    .xAxisLabel('Profession')
    .yAxisLabel('Number of Audience')
    .dimension(professionDim)
    .barPadding(0.1)
    .outerPadding(0.05)
    .group(TopProfessionTargettableGroup,"Exposed")
    .valueAccessor(function(p)
    {
        return p.value.Exposed.exceptionSum;
    })
    .title(function(d) 
    {
        return d.key + '[' + this.layer + ']: ' + d.value[this.layer].exceptionSum;
    })
    .stack(TopProfessionTargettableGroup, "NotExposed", function (p) 
    {
        return p.value.NotExposed.exceptionSum;
    })
    .legend(dc.legend().x(100).y(0).itemHeight(13).gap(5))
    .on("pretransition",function(TargettableProfessionGroupBarChart)
                        {
                            TargettableProfessionGroupBarChart.selectAll("g.stack rect.bar").style("fill", function(d){
                            if(d.layer=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            TargettableProfessionGroupBarChart.selectAll("g.dc-legend-item rect").style("fill", function(d){
                            if(d.name=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            $("#label-profession-target").text("Targetable Audience Profession Exposure (Top 3)");
                        }); 






var TargettableSpecialtyGroupBarChart  = dc.barChart("#bar-chart-specialtyGroup-target","reductio");
var TopTargettableSpecialtyGroup = getTops(specialtyGrpTargettableGroup,5);
TargettableSpecialtyGroupBarChart
    .margins({top: 50, right: 20, left: 50, bottom: 50})
    .width(500)
    .height(400)
    .gap(50)
    .x(d3.scaleBand())
    .xUnits(dc.units.ordinal)
    .brushOn(false)
    .xAxisLabel('Speciality Group')
    .yAxisLabel('Number of Audience')
    .dimension(specialtyGrpDim)
    .barPadding(0.1)
    .outerPadding(0.05)
    .group(TopTargettableSpecialtyGroup,"Exposed")
    .valueAccessor(function(p)
    {
        return p.value.Exposed.exceptionSum;
    })
    .title(function(d) 
    {
        return d.key + '[' + this.layer + ']: ' + d.value[this.layer].exceptionSum;
    })
    .stack(TopTargettableSpecialtyGroup, "NotExposed", function (p) 
    {
        return p.value.NotExposed.exceptionSum;
    })
    .legend(dc.legend().x(100).y(0).itemHeight(13).gap(5))
    .on("pretransition",function(TargettableSpecialtyGroupBarChart)
                        {
                            TargettableSpecialtyGroupBarChart.selectAll("g.stack rect.bar").style("fill", function(d){
                            if(d.layer=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            TargettableSpecialtyGroupBarChart.selectAll("g.dc-legend-item rect").style("fill", function(d){
                            if(d.name=="Exposed")
                                return "#3A8DDE";
                            else
                                return "#93D500";
                            });
                            $("#label-specialtyGroup-target").text("Targetable Audience Physician Specialty Group Exposure (Top 5)");
                        }); 
    dc.renderAll("reductio");

    function removeEmptyBins(source_group) {
        var bins=Array.prototype.slice.call(arguments,1);
        return{
            all:function()
            {
                return source_group.all().filter(function(d){
                    if (d.key!="")
                    {
                        return d;
                    }
                })
            }
        };
    }


});



    function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}
		
	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
  			htmlbodyHeightUpdate()
		});
	});
</script>
  {%endblock%}


 
